<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anwarelmakrahy.pwncore"
    android:versionCode="1"
    android:versionName="1.0b" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    
   	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        
        
        <activity
            android:name="com.anwarelmakrahy.pwncore.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"      
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity  
            android:label="pwnCore"          
            android:launchMode="singleTask"
            android:name="MainActivity">     
        </activity>
        
        <service     
            android:launchMode="singleInstance"
            android:name="MainService"
            android:enabled="true" >
        </service>
        
        <activity 
            android:label="Settings"
            android:name="com.anwarelmakrahy.pwncore.activities.SettingsActivity">            
        </activity>

        <activity 
            android:label="Attack Wizard"
            android:name="com.anwarelmakrahy.pwncore.activities.AttackWizardActivity">            
        </activity>

        <service 
            android:name="HeadService">           
        </service>
        
        <activity 
            android:name="com.anwarelmakrahy.pwncore.activities.ModuleOptionsActivity" 
            android:label="Module Options"
            android:windowSoftInputMode="adjustPan|adjustResize">           
        </activity>
        
        <activity 
            android:label="Console Session"
            android:name="com.anwarelmakrahy.pwncore.console.ConsoleActivity">          
        </activity>
        
        <activity 
            android:label="Set Payload"
            android:name="com.anwarelmakrahy.pwncore.activities.PayloadChooserActivity">           
        </activity>
        
        <activity 
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="Attack Hall"
            android:name="com.anwarelmakrahy.pwncore.activities.AttackHallActivity">
        </activity>
        
        <activity 
            android:label="Meterpreter Session"
            android:name=".plugins.MeterpreterActivity">
        </activity>
        
        <service android:name=".webserver.WebServerService"></service>
        
        <activity 
            android:label="Host Sessions"
            android:name=".activities.HostSessionsActivity">
        </activity>
               
    </application>

</manifest>
